.nodeExample1 {
  width: 180px;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 0 auto;
  margin-top: 2px;
  font-size: 16px;
  min-height: 44px;
  padding: 10px;
  box-sizing: border-box;
  .node-name {
    text-align: center;
    font-weight: bold;
  }
}

.before-download {
  .nodeExample1 {
    padding-top: unset !important;
  }
}

