# compiled output
/dist
/node_modules

# Node package infomation
yarn.lock
package-lock.json
pnpm-lock.yaml

# Envinronment
.env
.env.development.local
.env.production.local

# Database
postgres-data
.postgres-data

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/.vscode

/uploads
jatco-mzkapp.json
CodeBuild.md
ECS.md
error.md
